<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Today's Schedule Details</title>
</head>
<body style="background-color: #1b203d;" >
    <h1> <a href="{% url 'test' %}">V-Softech </a> </h1>

    <h1 style="text-align: center; color: red;">Today's Schedule Details</h1>
    <form method="post" style="text-align: center;">
        {% csrf_token %}
        <label for="id_date" style="text-align: center; color: red; font-size: x-large;">Date:</label>
        <input type="date" id="id_date" name="date" required style="text-align: center;">
        <br>
        <br>
        <button type="submit" style="text-align: center; color: red;">Submit</button>
    </form>
    
    {% if appointments %}
        <h2>Schedule for {{ appointments.0.date }}</h2>
        <table class="table table table-hover">
            <thead class="table-light">
                <tr>
                    <th class="table-danger">Sr No</th>
                    <th class="table-danger">Doctor Name</th>
                    <th class="table-danger">Date of Meeting</th>
                    <th class="table-danger" >Time</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td class="table-info">{{ forloop.counter }}</td>
                        <td class="table-info">{{ appointment.doctor }}</td>
                        <td class="table-info">{{ appointment.date }}</td>
                        <td class="table-info">{{ appointment.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
