<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login page </title>
    <link rel="stylesheet" href="m1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <style>
        {% include 'base/login.css' %}

</style>

</head>

<body>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <div class="centre">
        <h1> Login </h1>
        <form method="POST">
            {% csrf_token %}
            <div class="txt_field">
               
                <label> username </label>
                <br>
                <br>
                <br>
                {{ form.username }}
            </div>
            <div class="txt_field">
                <label> password </label>
                <br>
                <br>
                <br>
                {{ form.password }}
            </div>
            <input type="submit" value="Login">
            


        </form>
    </div>

</body>

</html>