<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <body style="background-color: #1b203d; color: white;">
    <h1> <a href="{% url 'test' %}">V-Softech </a> </h1>


        <form  class="login-form" method="POST">
            {% csrf_token %}
            <div class="row g-3" style="width: 500px; justify-content: center; border: 5px solid;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 675px;
            border-radius: 41px;
            transform: translate(-50%, -50%);
            background-color: black;
            height: 875px;">
                <div class="col-md-12">
                    {% if form_data.errors %}
                        {% for field in form_data %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{error|escape}}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% for error in form_data.non_field_errors %}
                    <div class="alert alert-warning">
                        <strong>{{error|escape}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="mb-3">
                    <div class="form-group position-relative">
                        <label>UserName <span class="text-danger">*</span></label>
                        {{form_data.username}}
                    </div>
                    {% if form_data.username.errors %}
                        {% for error in username.errors %}
                            <div class="alert alert-danger">
                            <strong>{{error|escape}}</strong>
                            </div>
                        {%endfor%}
                    {%endif%}
                </div>
                <div class="mb-3">
                    <div class="form-group position-relative">
                        <label>Your Password <span class="text-danger">*</span></label>
                        {{form_data.password1}}
                    </div>
                    {% if form_data.password1.errors %}
                        {% for error in password1.errors %}
                            <div class="alert alert-danger">
                            <strong>{{error|escape}}</strong>
                            </div>
                        {%endfor%}
                    {%endif%}
                </div>
                <div class="mb-3">
                    <div class="form-group position-relative">
                        <label>Confirm Password <span class="text-danger">*</span></label>
                        {{form_data.password2}}
                    </div>
                    {% if form_data.password2.errors %}
                        {% for error in password2.errors %}
                            <div class="alert alert-danger">
                            <strong>{{error|escape}}</strong>
                            </div>
                        {%endfor%}
                    {%endif%}
                    <br>
                </div>
                <br>
                <div class="mb-3">
                    <button class="btn btn-primary w-50" type="submit">Register</button>
                </div>

            </div>
        </form>
    </body>


